# Your New gob Project

Scaffolded with [gob](https://github.com/1joat/gob).

## Getting Started

1.  Initialize dependencies:
    ```bash
    go mod tidy
    ```

2.  Run the server:
    ```bash
    go run ./cmd/api/main.go
    ```

## Project Structure

- `cmd/api/`: Entry point for the application.
- `.env.example`: Template for environment variables.
